/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

:root {
  --main-font: 'Lato' sans-serif; }

body {
  font-family: 'Lato', sans-serif; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.content {
  font-size: 20px; }

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__list li {
    position: relative;
    padding: 0 37.5px; }
    .menu__list li:nth-child(2) {
      padding: 0 110px 0 37.5px; }
      .menu__list li:nth-child(2)::after {
        display: none; }
    .menu__list li:nth-child(3) {
      padding: 0 37.5px 0px 110px; }
    .menu__list li::after {
      content: '';
      width: 2px;
      height: 2px;
      background-color: #4d4959;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px; }
    .menu__list li:last-child::after {
      display: none; }

.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  text-decoration: none; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0 20px 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
    .menu__body.active {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__list li {
      padding: 0 0 45px 0; }
      .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
        padding: 0 0 45px 0; }
        .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
          display: block; }
      .menu__list li:last-child {
        padding: 0; }
      .menu__list li:after {
        background-color: #fff;
        width: 4px;
        height: 4px;
        right: 50%;
        top: 40px;
        margin: 0 -2px 0 0; }
  .menu__link {
    color: #fff;
    font-size: 20px; } }

.generation {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 900px) {
    .generation {
      padding: 80px 0; } }
  @media (max-width: 600px) {
    .generation {
      padding: 30px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0 0 33px 0; }
  .block__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 3.6px;
    margin: 0 0 18px 0;
    text-transform: uppercase; }
  .block__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px; }
    .block__text--j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px; }
      .block__text--j::after {
        content: '';
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb; }
  @media (max-width: 1500px) {
    .block__text--j::after {
      margin: 15px auto 0px auto; } }

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.brands__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%; }
  .brands__column--b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.667%;
    flex: 0 1 66.667%; }

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative; }
  .brands__content::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 0 0 -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 2; }

.brands__image {
  padding: 0 0 37.51% 0; }

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 35px 35px; } }

@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.item {
  display: block;
  position: relative;
  height: 100%; }
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 1100px) {
    .item {
      height: auto;
      padding: 0 0 70% 0; } }
