// GENERATION section
.generation {
    padding: 120px 0;
    background-color: #f7f7f7;
    @media (max-width: 900px) {
        padding: 80px 0;
    }
    @media (max-width: 600px) {
        padding: 30px 0;
    }

    &__block {}
}

.block {
    text-align: center;

    &__icon {
        margin: 0 0 33px 0;
    }

    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 3.6px;
        margin: 0 0 18px 0;
        text-transform: uppercase;
    }

    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;

        &--j {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;

            &::after {
                content: '';
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }

    @media (max-width: 1500px) {
        &__text {
            &--j {
              &::after {
                  margin: 15px auto 0px auto;
              }  
            }
        }
    }
}